---
layout: ""
page_title: "cloudtamerio Provider"
description: |-
  The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.
---

# cloudtamerio Provider

The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

### Environment Variables

If you want to configure the provider via environment variables, you can use these below.

```bash
export CLOUDTAMERIO_APIKEY="app_1_XXXXXXXXXXXX"
export CLOUDTAMERIO_URL="https://cloudtamerio.example.com"
export CLOUDTAMERIO_SKIPSSLVALIDATION="false"
```