---
layout: ""
page_title: "cloudtamerio Provider"
description: |-
  The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.
---

# cloudtamerio Provider

The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}