---
layout: ""
page_title: "cloudtamerio Provider"
description: |-
  The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.
---

# cloudtamerio Provider

The cloudtamerio provider allows you to interact with an installation of cloudtamer.io.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

### Environment Variables

If you want to configure the provider via environment variables, you can use these below.

```bash
export CLOUDTAMERIO_APIKEY="app_1_XXXXXXXXXXXX"
export CLOUDTAMERIO_URL="https://cloudtamerio.example.com"
export CLOUDTAMERIO_SKIPSSLVALIDATION="false"
```

### Importing Resource State

This provider does support [importing state for resources](https://www.terraform.io/docs/cli/import/index.html). You will need to create the Terraform files and then you can run commands like this to generate the `terraform.tfstate` so you don't have to delete all your resources and then recreate them to work with Terraform:

```bash
# Initialize the project.
terraform init

# Import the resource from your environment - this assumes you have a module called
# 'aws-cloudformation-template' and you are importing into a resource you defined as 'AuditLogging'.
# The '20' at the end is the ID of the resource in cloudtamer.io.
terraform import module.aws-cloudformation-template.cloudtamerio_aws_cloudformation_template.AuditLogging 20

# Verify the state is correct - there shouldn't be any changes listed if you defined
# the resources correctly.
terraform plan
```